<app-nav-component title="Cursos"></app-nav-component>


<button class="btn btn-success" [routerLink]="['/cursos/form']" routerLinkActive="router-link-active" > Nuevo</button>
<table class="table" *ngIf="cursos?.length; else Loading">
  <thead>
    <tr>
      <th scope="col">Nombres</th>
      <th scope="col">Creditos</th>
      <th class="text-end">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let curso of cursos">
      <th>{{curso.Nombre}} </th>
      <td>{{curso.NumeroCreditos}}</td>

      <td class="text-end">
        <a class="btn btn-primary mx-1"><i class="fas fa-eye"></i></a>
        <a class="btn btn-success mx-1" [routerLink]="['form', curso.Id]" routerLinkActive="router-link-active" ><i class="fas fa-edit"></i></a>
        <a class="btn btn-danger mx-1" (click)="eliminarCurso(curso.Id)"><i class="fas fa-trash"></i></a>
      </td>
    </tr>

  </tbody>
</table>

<ng-template #Loading>
  <app-loading></app-loading>
</ng-template>
